
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #1D4ED8; 
  --secondary-color: #333333;
  --background: #F2F3F5;
  --fundo-color: #FFFFFF;
}

body {
  width: 100%;
  font-family: 'Ubuntu', sans-serif; 
  background: url('./assets/fundo.png');
}

.wrapper {
  width: 850px;
  /* padding: 0 17rem; */
}

main {
  max-width: 100%;
  margin: 0 auto;
}

.cabecalho {
  width: 100%;

  display: flex; 
  justify-content: space-around;
  align-items: center;

  margin-top: 14px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);  
}

.logo h1 {
  font-size: 22px;
}
.logo .ph-brackets-curly  {
  font-size: 22px;
}

.cabecalho .menu img{
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.apresentacao {
  font-family: 'Rubik', sans-serif;
  color: var(--secondary-color);
  display: flex;
  margin-top: 50px;
  justify-content: space-around;
  flex-wrap: wrap;


}

.apresentacao-left {
  width: 400px;
  display: flex;
  /* justify-content: space-between  ; */
  flex-direction: column;
  padding: 26px 17px;
}
.apresentacao-nome {
  margin-bottom: 30px;
}

.apresentacao-nome p  {
   font-size: 38px;
   font-weigth: 400;
   
}

.apresentacao-nome span {
  color: var(--primary-color);

}

.apresentacao-nome small {
  font-size: 20px;
}


.image-principal {
  width: 250px;
  heigh: 100vh;
  background-size: center;
}
.ph {
  font-size: 46px;
  color: var(--primary-color);
}
button {

  border: none;  
  padding: 5px 8px;
  border-radius: 15px;
  cursor: pointer;
  transition: background 0.9s ease-out;
}

button:hover {
 background: var(--primary-color);
 color: var(--background);
 
}
button:hover .ph {
  color: var(--background);
}

button img {
  width: 35px;
  heigh: 35px;  
}

.sociais {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 15px;
}
