//colors

$blue: #00D2DF;
$gradient-pink: linear-gradient(270.06deg, #6518B4 0%, #D24074 101.62%);
$gradient-purple: linear-gradient(269.96deg, #10D7E2 0%, #9358F7 100%);

$dark: #121212;
$dark-200: #151515;
$gray-light: #C4C4C4;
$light: #FFFFFF;



//font

$font-main: 'Inter', sans-serif;
 

//spacing

$gap-0: 0px;
$gap-1: 8px;
$gap-2: 16px;
$gap-3: 24px;
$gap-4: 32px;
$gap-5: 48px;
$gap-6: 64px;
$gap-7: 72px;
$gap-8: 96px;
$gap-9: 128px;