@import "_variables";
@import "_reset";
@import "_header";
@import "_home";


main {
  padding: 0 180px;
  color: $light;
  height: 100vh;
  font-weight: 600;
  width: 100%;
  position: relative;
}

section {
  margin-top: 100px;
  border: 1px solid red;
}

