/* line 3, ../../../../../OneDrive/Documentos/portifolio/assets/scss/_reset.scss */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* line 9, ../../../../../OneDrive/Documentos/portifolio/assets/scss/_reset.scss */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 15, ../../../../../OneDrive/Documentos/portifolio/assets/scss/_reset.scss */
a {
  text-decoration: none;
}

/* line 18, ../../../../../OneDrive/Documentos/portifolio/assets/scss/_reset.scss */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* line 23, ../../../../../OneDrive/Documentos/portifolio/assets/scss/_reset.scss */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* line 32, ../../../../../OneDrive/Documentos/portifolio/assets/scss/_reset.scss */
button,
input {
  border: 0;
  font-family: "Inter", sans-serif;
}

/* line 36, ../../../../../OneDrive/Documentos/portifolio/assets/scss/_reset.scss */
button:focus,
input:focus {
  border: 0;
}

/* line 40, ../../../../../OneDrive/Documentos/portifolio/assets/scss/_reset.scss */
body {
  font-family: "Inter", sans-serif;
  background-color: #0C0C0C;
  overflow-x: hidden;
}

/* line 45, ../../../../../OneDrive/Documentos/portifolio/assets/scss/_reset.scss */
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

/* line 49, ../../../../../OneDrive/Documentos/portifolio/assets/scss/_reset.scss */
::-webkit-scrollbar {
  width: 8px;
}

/* line 52, ../../../../../OneDrive/Documentos/portifolio/assets/scss/_reset.scss */
::-webkit-scrollbar-track {
  background-color: #151515;
}

/* line 55, ../../../../../OneDrive/Documentos/portifolio/assets/scss/_reset.scss */
::-webkit-scrollbar-thumb {
  background-color: #151515;
  border-radius: 8px;
}

/* line 3, ../../../../../OneDrive/Documentos/portifolio/assets/scss/_header.scss */
header {
  width: 100%;
  padding: 40px 180px;
}

/* line 7, ../../../../../OneDrive/Documentos/portifolio/assets/scss/_header.scss */
header .logo {
  color: #00D2DF;
  font-size: 2.4rem;
  font-weight: 500;
}

/* line 13, ../../../../../OneDrive/Documentos/portifolio/assets/scss/_header.scss */
header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* line 19, ../../../../../OneDrive/Documentos/portifolio/assets/scss/_header.scss */
header #nav_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #C4C4C4;
  gap: 64px;
  cursor: pointer;
}

/* line 28, ../../../../../OneDrive/Documentos/portifolio/assets/scss/_header.scss */
header #nav_list li {
  font-size: 1.8rem;
}

/* line 35, ../../../../../OneDrive/Documentos/portifolio/assets/scss/_header.scss */
.mobile-menu {
  display: none;
}

/* line 3, ../../../../../OneDrive/Documentos/portifolio/assets/scss/_home.scss */
.home {
  width: 100%;
  height: 100vh;
  padding: 100px 180px;
}

/* line 9, ../../../../../OneDrive/Documentos/portifolio/assets/scss/_home.scss */
.looper {
  width: 700px;
  height: 500px;
  position: absolute;
  top: 0;
  right: 0;
}

/* line 20, ../../../../../OneDrive/Documentos/portifolio/assets/scss/_home.scss */
.home-left p {
  font-size: 24px;
  text-transform: uppercase;
}

/* line 24, ../../../../../OneDrive/Documentos/portifolio/assets/scss/_home.scss */
.home-left strong {
  color: #00D2DF;
  font-size: 64px;
  text-transform: uppercase;
}

/* line 30, ../../../../../OneDrive/Documentos/portifolio/assets/scss/_home.scss */
.home-left .home-buttons {
  margin-top: 60px;
  display: flex;
  gap: 24px;
}

/* line 35, ../../../../../OneDrive/Documentos/portifolio/assets/scss/_home.scss */
.home-left .home-buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 11px 32px;
  border-radius: 4px;
  border: 2px solid #00D2DF;
  background: transparent;
  color: #FFFFFF;
  cursor: pointer;
}

/* line 56, ../../../../../OneDrive/Documentos/portifolio/assets/scss/_home.scss */
.presentation button {
  padding: 11px 23px;
}

/* line 3, ../../../../../OneDrive/Documentos/portifolio/assets/scss/_about.scss */
.about {
  background-color: #151515;
  padding: 102px 180px;
  display: flex;
  gap: 183px;
}

/* line 12, ../../../../../OneDrive/Documentos/portifolio/assets/scss/_about.scss */
.about-image {
  background-color: #121212;
  border-left: 4px solid #00D2DF;
}

/* line 15, ../../../../../OneDrive/Documentos/portifolio/assets/scss/_about.scss */
.about-image img {
  width: 367px;
  height: 367px;
  object-fit: cover;
}

/* line 23, ../../../../../OneDrive/Documentos/portifolio/assets/scss/_about.scss */
.about-infos {
  display: flex;
  flex-direction: column;
  width: 500px;
}

/* line 28, ../../../../../OneDrive/Documentos/portifolio/assets/scss/_about.scss */
.about-infos strong {
  font-size: 24px;
}

/* line 32, ../../../../../OneDrive/Documentos/portifolio/assets/scss/_about.scss */
.about-infos span {
  font-size: 20px;
  padding-top: 40px;
}

/* line 37, ../../../../../OneDrive/Documentos/portifolio/assets/scss/_about.scss */
.about-infos p {
  font-size: 18px;
  color: #C4C4C4;
  font-weight: 300;
  padding-top: 21px;
}

/* line 44, ../../../../../OneDrive/Documentos/portifolio/assets/scss/_about.scss */
.about-infos .about-buttons {
  margin-top: 60px;
  display: flex;
  gap: 24px;
}

/* line 49, ../../../../../OneDrive/Documentos/portifolio/assets/scss/_about.scss */
.about-infos .about-buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 11px 32px;
  border-radius: 4px;
  border: 2px solid #00D2DF;
  background: transparent;
  color: #FFFFFF;
  cursor: pointer;
}

/* line 8, ../../../../../OneDrive/Documentos/portifolio/assets/scss/style.scss */
main {
  color: #FFFFFF;
  height: 100vh;
  font-weight: 600;
  width: 100%;
  position: relative;
}

/*# sourceMappingURL=style.css.map */