* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button,
input {
  font-family: "Inter", sans-serif;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #151515;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #151515;
}

::-webkit-scrollbar-thumb {
  background-color: #151515;
  border-radius: 8px;
}

header {
  width: 100%;
  padding: 40px 180px;
}

header .logo {
  color: #00D2DF;
  font-size: 2.4rem;
  font-weight: 500;
}

header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

header #nav_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #C4C4C4;
  gap: 64px;
  cursor: pointer;
}

header #nav_list li {
  font-size: 1.8rem;
}

.mobile-menu {
  display: none;
}

.home {
  width: 100%;
  margin-top: 45px;
  padding-top: 80px;
}

.looper {
  width: 700px;
  position: absolute;
  top: 0;
  right: 0;
}

.home-left p {
  font-size: 24px;
  text-transform: uppercase;
}

.home-left strong {
  color: #00D2DF;
  font-size: 64px;
  text-transform: uppercase;
}

.home-left .home-buttons {
  margin-top: 60px;
  display: flex;
  gap: 24px;
}

.home-left .home-buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 11px 32px;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(270.06deg, #6518B4 0%, #D24074 101.62%) 1;
  background: transparent;
  color: #FFFFFF;
}

.presentation button {
  padding: 11px 23px;
}

main {
  padding: 0 180px;
  color: #FFFFFF;
  display: flex;
  font-weight: 600;
  width: 100%;
  position: relative;
}
